<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.capture.compiler">

    <application>
        <activity
            android:name="dev.capture.activity.DevHttpCaptureMainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/DevHttpCaptureCompilerAppTheme"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name="dev.capture.activity.DevHttpCaptureListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/DevHttpCaptureCompilerAppTheme"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name="dev.capture.activity.DevHttpCaptureFileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/DevHttpCaptureCompilerAppTheme"
            tools:ignore="DiscouragedApi" />
    </application>
</manifest>