<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.environment">

    <application>
        <activity
            android:name="dev.environment.DevEnvironmentActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
    </application>
</manifest>