<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="afkt.project">

    <!-- Android 平台下的图片选择器强制兼容 minSdkVersion 14 -->
    <uses-sdk tools:overrideLibrary="com.luck.picture.lib,com.yalantis.ucrop" />

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 改变 Wifi 状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取 Wifi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问 GPS 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 麦克风设置权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许访问震动设备 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 读取短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- 快捷方式创建、卸载权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 读取设置 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS" />

    <application
        android:name="afkt.project.base.app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>

        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>

        <!-- LAUNCHER -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Module -->

        <activity
            android:name=".ui.ModuleActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Button -->

        <activity
            android:name=".ui.ButtonItemActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 事件 / 广播监听 ( 网络状态、屏幕旋转等 ) -->

        <activity
            android:name=".ui.activity.ListenerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 通知栏监听服务 ( NotificationService ) -->

        <activity
            android:name=".ui.activity.NotificationServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 无障碍监听服务 ( AccessibilityListenerService ) -->

        <activity
            android:name=".ui.activity.AccessibilityListenerServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Wifi 相关 ( 热点 ) -->

        <activity
            android:name=".ui.activity.WifiActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 铃声、震动、通知栏等功能 -->

        <activity
            android:name=".ui.activity.FunctionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- TimerManager 定时器工具类 -->

        <activity
            android:name=".ui.activity.TimerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- DevCache 缓存工具类 -->

        <activity
            android:name=".ui.activity.CacheActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- DevLogger 日志工具类 -->

        <activity
            android:name=".ui.activity.LoggerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 日志、异常文件记录保存 -->

        <activity
            android:name=".ui.activity.FileRecordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 奔溃日志捕获 -->

        <activity
            android:name=".ui.activity.CrashCatchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 通用结果回调类 ( 针对 DevResultCallback 进行扩展 ) -->

        <activity
            android:name=".ui.activity.DevExtendActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 设备信息 -->

        <activity
            android:name=".ui.activity.DeviceInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 路径信息 -->

        <activity
            android:name=".ui.activity.PathActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 屏幕信息 -->

        <activity
            android:name=".ui.activity.ScreenInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ToastTint ( 着色美化 Toast ) -->

        <activity
            android:name=".ui.activity.ToastTintActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 自定义 ProgressBar 样式 View -->

        <activity
            android:name=".ui.activity.ProgressBarActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 常见 UI、GradientDrawable 效果等 -->

        <activity
            android:name=".ui.activity.UIEffectActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ViewPager 滑动监听、控制滑动 -->

        <activity
            android:name=".ui.activity.ViewPagerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 点击 显示 / 隐藏 ( 状态栏 ) -->

        <activity
            android:name=".ui.activity.StatusBarActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 计算字体宽度、高度 -->

        <activity
            android:name=".ui.activity.TextCalcActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Adapter Item EditText 输入监听 -->

        <activity
            android:name=".ui.activity.AdapterEditsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 多选辅助类 MultiSelectAssist -->

        <activity
            android:name=".ui.activity.MultiSelectActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- GPU ACV 文件滤镜效果 -->

        <activity
            android:name=".ui.activity.GPUFilterACVActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- GPU 滤镜效果 -->

        <activity
            android:name=".ui.activity.GPUFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 自定义扫描 View ( QRCode、AR ) -->

        <activity
            android:name=".ui.activity.ScanShapeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 创建二维码 -->

        <activity
            android:name=".ui.activity.QRCodeCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 二维码图片解析 -->

        <activity
            android:name=".ui.activity.QRCodeImageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 二维码扫描解析 -->

        <activity
            android:name=".ui.activity.QRCodeScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 自动换行 View -->

        <activity
            android:name=".ui.activity.WrapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 签名 View -->

        <activity
            android:name=".ui.activity.SignActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 换行监听 View -->

        <activity
            android:name=".ui.activity.LineActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 自定义点赞效果 View -->

        <activity
            android:name=".ui.activity.FlowLikeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 自定义角标 View -->

        <activity
            android:name=".ui.activity.CornerLabelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ViewAssist Activity -->

        <activity
            android:name=".ui.activity.ViewAssistActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ViewAssist RecyclerView Loading -->

        <activity
            android:name=".ui.activity.ViewAssistRecyclerViewLoadActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CapturePictureUtils 截图工具类 -->

        <activity
            android:name=".ui.activity.CapturePictureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CapturePictureUtils ListView 截图 -->

        <activity
            android:name=".ui.activity.CapturePictureListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CapturePictureUtils GridView 截图 -->

        <activity
            android:name=".ui.activity.CapturePictureGridActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CapturePictureUtils RecyclerView 截图 -->

        <activity
            android:name=".ui.activity.CapturePictureRecyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CapturePictureUtils WebView 截图 -->

        <activity
            android:name=".ui.activity.CapturePictureWebActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- EventBusUtils -->

        <activity
            android:name=".ui.activity.EventBusActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 文章 MVP Activity -->

        <activity
            android:name=".framework.mvp.ArticleMVPActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 文章 MVVM Activity -->

        <activity
            android:name=".framework.mvvm.ArticleMVVMActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- WebView 辅助类 -->

        <activity
            android:name=".ui.activity.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 两个 TextView 显示效果 -->

        <activity
            android:name=".ui.activity.TextViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- startActivityForResult CallBack -->

        <activity
            android:name=".ui.activity.ActivityResultCallBackActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- DevEnvironment 环境配置切换库 -->

        <activity
            android:name=".ui.activity.DevEnvironmentLibActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ======== -->
        <!-- 服务相关 -->
        <!-- ======== -->

        <!--
            NotificationListenerService 通知栏监听服务, 是在 Android 4.3 ( API 18 ) 时被加入的, 作用就是用来监听通知栏消息
            并且官方建议在 Android 4.3 及以上使用 NotificationListenerService 来监听通知栏消息, 以此取代 AccessibilityService
        -->
        <service
            android:name="dev.service.NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!--
            AccessibilityListenerService 无障碍功能操作监听服务
            AccessibilityService 在 API < 18 的时候使用 AccessibilityService
        -->
        <service
            android:name="dev.service.AccessibilityListenerService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <!-- 在 meta-data 里申明配置信息 -->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>
    </application>

</manifest>