<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="afkt.project">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 所有文件管理权限 -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- 获取所有应用列表 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <!-- 改变 Wifi 状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取 Wifi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 网络定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- GPS 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 麦克风设置权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许访问震动设备 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 读取短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 快捷方式创建、卸载权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 通讯录读写权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 读取设置 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS" />
    <!-- 设置壁纸权限 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!-- 读取电话状态 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 窗口悬浮权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="false"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,LockedOrientationActivity,UnusedAttribute"
        tools:replace="android:requestLegacyExternalStorage">

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />

        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <!-- LAUNCHER -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Module 列表 Activity -->

        <activity
            android:name=".feature.ModuleActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Button 列表 Activity -->

        <activity
            android:name=".feature.ButtonItemActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 文章 MVP Activity -->

        <activity
            android:name=".feature.framework.mvp.ArticleMVPActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 文章 MVVM Activity -->

        <activity
            android:name=".feature.framework.mvvm.ArticleMVVMActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- DataStore -->

        <activity
            android:name=".feature.lib_frame.data_store.DataStoreActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- GreenDao -->

        <activity
            android:name=".feature.lib_frame.green_dao.GreenDaoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Room -->

        <activity
            android:name=".feature.lib_frame.room.RoomActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ToastTint ( 着色美化 Toast ) -->

        <activity
            android:name=".feature.ui_effect.toast_tint.ToastTintActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 常见 UI、GradientDrawable 效果等 -->

        <activity
            android:name=".feature.ui_effect.common.UIEffectActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 点击 显示/隐藏 ( 状态栏 ) -->

        <activity
            android:name=".feature.ui_effect.status_bar.StatusBarActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 计算字体宽度、高度 -->

        <activity
            android:name=".feature.ui_effect.text_calc.TextCalcActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Adapter Item EditText 输入监听 -->

        <activity
            android:name=".feature.ui_effect.adapter_edits.AdapterEditsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 多选辅助类 MultiSelectAssist -->

        <activity
            android:name=".feature.ui_effect.multi_select.MultiSelectActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- GPU ACV 文件滤镜效果 -->

        <activity
            android:name=".feature.ui_effect.gpu.GPUFilterACVActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- GPU 滤镜效果 -->

        <activity
            android:name=".feature.ui_effect.gpu.GPUFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 创建二维码 -->

        <activity
            android:name=".feature.ui_effect.qrcode.QRCodeCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 二维码图片解析 -->

        <activity
            android:name=".feature.ui_effect.qrcode.QRCodeImageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 二维码扫描解析 -->

        <activity
            android:name=".feature.ui_effect.qrcode.QRCodeScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CapturePictureUtils 截图工具类 -->

        <activity
            android:name=".feature.ui_effect.capture_picture.CapturePictureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CapturePictureUtils ListView 截图 -->

        <activity
            android:name=".feature.ui_effect.capture_picture.CapturePictureListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CapturePictureUtils GridView 截图 -->

        <activity
            android:name=".feature.ui_effect.capture_picture.CapturePictureGridActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CapturePictureUtils RecyclerView 截图 -->

        <activity
            android:name=".feature.ui_effect.capture_picture.CapturePictureRecyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- CapturePictureUtils WebView 截图 -->

        <activity
            android:name=".feature.ui_effect.capture_picture.CapturePictureWebActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 两个 TextView 显示效果 -->

        <activity
            android:name=".feature.ui_effect.text_view.TextViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- RecyclerView 吸附效果 -->

        <activity
            android:name=".feature.ui_effect.recy_adapter.item_sticky.ItemStickyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- RecyclerView 滑动删除、上下滑动 -->

        <activity
            android:name=".feature.ui_effect.recy_adapter.item_slide.RecyItemSlideActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- LinearSnapHelper - RecyclerView -->

        <activity
            android:name=".feature.ui_effect.recy_adapter.linear_snap.LinearSnapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- LinearSnapHelper - 无线滑动 -->

        <activity
            android:name=".feature.ui_effect.recy_adapter.linear_snap.LinearSnapMAXActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- PagerSnapHelper - RecyclerView -->

        <activity
            android:name=".feature.ui_effect.recy_adapter.pager_snap.PagerSnapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- PagerSnapHelper - 无线滑动 -->

        <activity
            android:name=".feature.ui_effect.recy_adapter.pager_snap.PagerSnapMAXActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Material ShapeableImageView -->

        <activity
            android:name=".feature.ui_effect.material.ShapeableImageViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Material BottomSheet -->

        <activity
            android:name=".feature.ui_effect.material.BottomSheetActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Material BottomSheetDialog -->

        <activity
            android:name=".feature.ui_effect.material.BottomSheetDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Palette 调色板 -->

        <activity
            android:name=".feature.ui_effect.palette.PaletteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Flexbox LayoutManager -->

        <activity
            android:name=".feature.ui_effect.flexbox_layout.FlexboxLayoutManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Material Chip、ChipGroups、ChipDrawable -->

        <activity
            android:name=".feature.ui_effect.material.ChipActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Material" />

        <!-- ViewPager2 -->

        <activity
            android:name=".feature.ui_effect.view_pager2.ViewPager2Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- RecyclerView - ConcatAdapter -->

        <activity
            android:name=".feature.ui_effect.recy_adapter.adapter_concat.RecyConcatAdapterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- RecyclerView MultiType Adapter -->

        <activity
            android:name=".feature.ui_effect.recy_adapter.adapter_multitype.RecyMultiTypeAdapterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 购物车加入动画 -->

        <activity
            android:name=".feature.ui_effect.shop_cart_anim.ShopCartAddAnimActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 事件 / 广播监听 ( 网络状态、屏幕旋转等 ) -->

        <activity
            android:name=".feature.other_function.listener.ListenerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 通知栏监听服务 ( NotificationService ) -->

        <activity
            android:name=".feature.other_function.service.NotificationServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 无障碍监听服务 ( AccessibilityListenerService ) -->

        <activity
            android:name=".feature.other_function.service.AccessibilityListenerServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Wifi 相关 ( 热点 ) -->

        <activity
            android:name=".feature.other_function.wifi.WifiActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 铃声、震动、通知栏等功能 -->

        <activity
            android:name=".feature.other_function.dev_function.FunctionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- TimerManager 定时器工具类 -->

        <activity
            android:name=".feature.other_function.timer.TimerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- DevCache 缓存工具类 -->

        <activity
            android:name=".feature.other_function.dev_function.CacheActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- DevLogger 日志工具类 -->

        <activity
            android:name=".feature.other_function.dev_function.LoggerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 日志、异常文件记录保存 -->

        <activity
            android:name=".feature.other_function.dev_function.FileRecordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 奔溃日志捕获 -->

        <activity
            android:name=".feature.other_function.dev_function.CrashCatchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 路径信息 -->

        <activity
            android:name=".feature.other_function.dev_function.PathActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- WebView 辅助类 -->

        <activity
            android:name=".feature.other_function.web_view.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Activity Result API -->

        <activity
            android:name=".feature.other_function.dev_function.ActivityResultAPIActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- startActivityForResult Callback -->

        <activity
            android:name=".feature.other_function.dev_function.ActivityResultCallbackActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 添加联系人 -->

        <activity
            android:name=".feature.other_function.add_contact.AddContactActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 手机壁纸 -->

        <activity
            android:name=".feature.other_function.dev_function.WallpaperActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 悬浮窗管理辅助类 ( 需权限 ) -->

        <activity
            android:name=".feature.other_function.floating.FloatingWindowManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 悬浮窗管理辅助类 ( 无需权限依赖 Activity ) -->

        <activity
            android:name=".feature.other_function.floating.FloatingWindowManager2Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 自定义扫描 View ( QRCode、AR ) -->

        <activity
            android:name=".feature.dev_widget.scan_shape.ScanShapeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 自动换行 View -->

        <activity
            android:name=".feature.dev_widget.wrap_view.WrapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 签名 View -->

        <activity
            android:name=".feature.dev_widget.sign_view.SignActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 换行监听 View -->

        <activity
            android:name=".feature.dev_widget.line_view.LineActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 自定义点赞效果 View -->

        <activity
            android:name=".feature.dev_widget.flow_like.FlowLikeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 自定义角标 View -->

        <activity
            android:name=".feature.dev_widget.corner_label.CornerLabelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ViewAssist Activity -->

        <activity
            android:name=".feature.dev_widget.view_assist.ViewAssistActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ViewAssist RecyclerView Loading -->

        <activity
            android:name=".feature.dev_widget.view_assist.ViewAssistRecyclerViewLoadActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 翻转卡片 View -->

        <activity
            android:name=".feature.dev_widget.flip_card.FlipCardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 波浪 View -->

        <activity
            android:name=".feature.dev_widget.wave_view.WaveViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 自定义 ProgressBar 样式 View -->

        <activity
            android:name=".feature.dev_widget.progress_bar.ProgressBarActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ViewPager 滑动监听、控制滑动 -->

        <activity
            android:name=".feature.dev_widget.view_pager.ViewPagerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Linear Color ItemDecoration -->

        <activity
            android:name=".feature.dev_widget.recy_item_decoration.color_linear.LinearColorItemDecorationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Grid Color ItemDecoration -->

        <activity
            android:name=".feature.dev_widget.recy_item_decoration.color_grid.GridColorItemDecorationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- DevEnvironment 环境配置切换库 -->

        <activity
            android:name=".feature.dev_environment.DevEnvironmentLibActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- DevAssist Engine 实现 -->

        <activity
            android:name=".feature.dev_engine.DevAssistEngineActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- DevHttpCapture OkHttp 抓包工具库 -->

        <activity
            android:name=".feature.dev_http_capture.DevHttpCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- DevSKU 商品 SKU 组合封装实现 -->

        <activity
            android:name=".feature.dev_sku.DevSKUActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- ======== -->
        <!-- 服务相关 -->
        <!-- ======== -->

        <!--
            NotificationListenerService 通知栏监听服务, 是在 Android 4.3 ( API 18 ) 时被加入的, 作用就是用来监听通知栏消息
            并且官方建议在 Android 4.3 及以上使用 NotificationListenerService 来监听通知栏消息, 以此取代 AccessibilityService
        -->
        <service
            android:name="dev.service.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!--
            AccessibilityListenerService 无障碍功能操作监听服务
            AccessibilityService 在 API < 18 的时候使用 AccessibilityService
        -->
        <service
            android:name="dev.service.AccessibilityListenerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <!-- 在 meta-data 里申明配置信息 -->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>
    </application>

</manifest>