<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="afkt.demo">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,LockedOrientationActivity">

        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainNonViewDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MainBaseContentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MainApplicationViewModelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MainApplicationMVVMActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MainActivityMVVMActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MainFragmentMVVMActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MainFragmentParentMVVMActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MainBaseContentVMImplActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MainMVVMUtilsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MainViewPagerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>