<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name="dev.utils.app.permission.PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:multiprocess="true"
            android:theme="@style/DevActivityTranslucentTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name="dev.utils.app.activity_result.DefaultActivityResult$ResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:multiprocess="true"
            android:theme="@style/DevActivityTranslucentTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>
</manifest>